    <section class="section is-medium is-flex is-justify-content-center" id="user-info">
        <div class="columns is-flex-wrap-wrap	 is-align-items-center">
            <div class ="column is-8 is-12-mobile">
                <h1 class="title is-2 has-text-info">Friendless in Seattle</h1>
                <h2 class="subtitle has-text-black">Meet new friends locally or around the world that share your interests.<h2>
            </div>
            <div class ="column is-12-mobile">
                <form class="box">
                    <div class="field">
                      {{!-- <div class="modal-body"> --}}
                        <div class="control">
                          
                          <input class="input is-medium" type="text" placeholder="Email" id="email">

                        </div>
                      {{!-- </div> --}}
                      <br>
                      <div class="field">
                        <div class="control">
                          <input class="input is-medium" type="password" placeholder="Password" id="user_password">
                        </div>
                        <p class="help is-info has-text-centered m-5">Forgot password?</p>
                      </div>

                      </div>
                      
                      <div class="field">
                        <div class="control">
                          <button class="button is-medium is-fullwidth is-info" id="login">Login</button>
                        </div>
                      </div>
                      <hr class="m-5 has-background-grey-lighter">
                      <div class="field">
                        <div class="control">
                          <button class="button is-medium is-fullwidth is-primary" href="/register" id="register" data-register={{register}}>Register</button>
                        </div>
                      </div>
                  </form>
            </div>
        </div>
        
        <div class="modal" id="error-login">
    <div class="modal-background"></div>
    <div class="modal-card has-text-centered">
        <header class="modal-card-head">
            <p class="modal-card-title">Please enter a correct email/password!</p>
        </header>
        <footer class="modal-card-foot">
            <button class="button is-info is-fullwidth" id="retry-login" type="button">Okay</button>
        </footer>
    </div>
</div>
       
      </section>
