{{> nav/nav-block}}

<section class="section">
        <div class="field">
            <div class="control">
              <textarea class="textarea is-info" id="example-text" class="form-control" placeholder="Post something new..."></textarea>

            </div>
        </div>
        <div class="field">
            <div class="control">
                <button id="submit" class="button is-info">Post</button>
            </div>
        </div>
        <hr class="has-background-grey-lighter mt-6">
        <p class="is-italic has-text-info">The feed...</p>
</section>

<section class="section">
  <ul id="example-list" class="list-group">

    {{#each examples}}
    
    <li data-id="{{this.id}}" class="list-group-item">
      
      {{this.text}}
      
      <button class="button is-danger is-rounded delete"></button>
    </li>
    
    {{/each}}

  </ul>
</section>

<script src="/assets/js/example.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};
</script>
