
{{> nav/nav-block user=true register=false}}

<section class="section">
        <div class="columns is-flex-wrap-wrap">
            <div class="column is-3">
                <div class="box">
                    <p class="has-text-centered is-size-4 has-text-weight-semibold mb-4">Jane</p>
                    <figure class="image is-1by1 mb-4">
                        <img  class="is-rounded" src="images/avatar-2.png" alt="Placeholder image">
                    </figure>
                    <button class="button is-fullwidth is-info">Message</button>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <p class="has-text-centered is-size-4 has-text-weight-semibold mb-4">David</p>
                    <figure class="image is-1by1 mb-4">
                        <img  class="is-rounded" src="images/avatar-3.png" alt="Placeholder image">
                    </figure>
                    <button class="button is-fullwidth is-info">Message</button>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <p class="has-text-centered is-size-4 has-text-weight-semibold mb-4">Jane</p>
                    <figure class="image is-1by1 mb-4">
                        <img  class="is-rounded" src="images/avatar-2.png" alt="Placeholder image">
                    </figure>
                    <button class="button is-fullwidth is-info">Message</button>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <p class="has-text-centered is-size-4 has-text-weight-semibold mb-4">David</p>
                    <figure class="image is-1by1 mb-4">
                        <img  class="is-rounded" src="images/avatar-3.png" alt="Placeholder image">
                    </figure>
                    <button class="button is-fullwidth is-info">Message</button>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <p class="has-text-centered is-size-4 has-text-weight-semibold mb-4">Jane</p>
                    <figure class="image is-1by1 mb-4">
                        <img  class="is-rounded" src="images/avatar-2.png" alt="Placeholder image">
                    </figure>
                    <button class="button is-fullwidth is-info">Message</button>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <p class="has-text-centered is-size-4 has-text-weight-semibold mb-4">David</p>
                    <figure class="image is-1by1 mb-4">
                        <img  class="is-rounded" src="images/avatar-3.png" alt="Placeholder image">
                    </figure>
                    <button class="button is-fullwidth is-info">Message</button>
                </div>
            </div>
        </div>
    </section>